@model IEnumerable<EmpresaModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        border-block-color: #262626 !important;
        border-style: groove !important;
    }
</style>

<h1>Empresas Cadastradas</h1>

<p>
    <a style="color: #504ad1 !important" asp-action="Create">Cadastrar Empresa</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cod_empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome_empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cnpj_empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.login_empresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cod_empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome_empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cnpj_empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.login_empresa)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Cadastrar", "Home", new { codigo = item.cod_empresa }) |
                    @Html.ActionLink("Excluir", "Excluir", "Home", new { codigo = item.cod_empresa })
                </td>
            </tr>
        }
    </tbody>
</table>
